<div class="h-auto w-full flex flex-col gap-[25px] items-center">
    <div class="bg-green-500 text-white flex w-full">
        <div class="bg-transparent w-full h-[300px]">
        </div>
    </div>
    <div class="h-auto w-full flex flex-col gap-[25px] items-center max-w-[1200px]">
        <app-kategori [ones]="ones" [imgs]="imgs" class="w-full px-[20px]"></app-kategori>
         <app-trending class="w-full"></app-trending>
         <app-promo class="w-full"></app-promo>
         <app-secondkategori class="w-full px-[20px]"></app-secondkategori>
         <app-items class="w-full"></app-items>
         <div class="flex w-full items-center justify-center">
            <button>
                Muat Lebih Banyak
            </button>
         </div>
    </div>
</div>
