<div class="w-full flex overflow-x-auto h-[65px] hidden-scroll gap-[10px] rounded-md">
    <button class="bg-gradient-to-r text-[14px] from-[#9D206E] to-[#D12392] max-w-[215px] flex-shrink-0 w-full h-full rounded-lg flex items-start justify-start p-[10px] text-white font-bold">
        For You
    </button>
    <button class="bg-gradient-to-r text-[14px] from-[#087DAA] to-[#16A4A7] max-w-[215px] flex-shrink-0 w-full h-full rounded-lg flex items-start justify-start p-[10px] text-white font-bold">
        Guncang 6.6
    </button>
    <button class="bg-gradient-to-r text-[14px] from-[#EC9217] to-[#FCBA02] max-w-[215px] flex-shrink-0 w-full h-full rounded-lg flex items-start justify-start p-[10px] text-white font-bold">
        Table
    </button>
    <button class="bg-gradient-to-r text-[14px] from-[#0E8E45] to-[#3DB048] max-w-[215px] flex-shrink-0 w-full h-full rounded-lg flex items-start justify-start p-[10px] text-white font-bold">
        Makanan Bayi
    </button>
    <button class="bg-gradient-to-r text-[14px] from-[#9F206F] to-[#CF2391] max-w-[215px] flex-shrink-0 w-full h-full rounded-lg flex items-start justify-start p-[10px] text-white font-bold">
        Powerbank
    </button>
    <button class="bg-gradient-to-r text-[14px] from-[#2F648B] to-[#17A7A8] max-w-[215px] flex-shrink-0 w-full h-full rounded-lg flex items-start justify-start p-[10px] text-white font-bold">
        Mirip kamu cek
    </button>
</div>
